data
.Rproj.user
notes/AYK Model Format .pptx
AYK Model Format .pptx
.RData
.DS_Store
notes/AYK_meetwithLR.pptx
*.dbf
*.prj
*.sbx
*.shp
*.sbn
*.shx
HydroRIVERS_v10_ar_shp/HydroRIVERS_TechDoc_v10.pdf
HydroRIVERS_v10_na_shp/HydroRIVERS_TechDoc_v10.pdf
HW1/troptuna.csv
~\Stat 611\Spring 17\Lecture notes\Chapter 9\9_3.eps
.DS_Store
Chum RR Data_wTuluksak.xlsx
output
scripts/Plots_proper_model_output_AFS_Talk.R
.RDataTmp1
notes
DK_Repo
scripts/Ex scripts
scripts/old scripts
